<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>张三</string>
		<key>words</key>
		<string>你在干嘛呢😀</string>
		<key>time</key>
		<string>12:15</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/zhangsan.jpg?imageView2/2/w/203/h/203&amp;e=1457059458&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:PpiX4EMrGSgNI9Q22RFxhNRbYRQ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小明</string>
		<key>words</key>
		<string>真是醉了</string>
		<key>time</key>
		<string>12:05</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/xiaoming.jpg?imageView2/2/w/203/h/203&amp;e=1457059480&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:UIZbq6_iOuwZ30w3cXMu0u1ne54</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李四</string>
		<key>words</key>
		<string>哈哈哈</string>
		<key>time</key>
		<string>11:22</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/lisi.jpg?imageView2/2/w/203/h/203&amp;e=1457059498&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:x9lT8MC8eNSPmJyk6imPeLXIeaM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小王</string>
		<key>words</key>
		<string>你在逗我吗，你个逗笔。</string>
		<key>time</key>
		<string>11:08</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/xiaowang.jpg?imageView2/2/w/203/h/203&amp;e=1457059521&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:i1TRJp6-EDLploBGl_dhaHrDI4k</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王二麻</string>
		<key>words</key>
		<string>失败了</string>
		<key>time</key>
		<string>11:04</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/wangerma.jpg?imageView2/2/w/203/h/203&amp;e=1457059541&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:BMWjCPlcutphK8OQasH8gxopF9s</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大飞</string>
		<key>words</key>
		<string>下班一起吃饭呀</string>
		<key>time</key>
		<string>10:38</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/dafei.jpg?imageView2/2/w/203/h/203&amp;e=1457059565&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:n3PgWbYZAKHgkUeuqulBNJWOwns</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小强</string>
		<key>words</key>
		<string>恩恩</string>
		<key>time</key>
		<string>10:27</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/xiaoqiang.jpg?imageView2/2/w/203/h/203&amp;e=1457059587&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:qHW6nw1kWrom78nqhhocHeFuzEM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>森哥</string>
		<key>words</key>
		<string>这么晚还不睡</string>
		<key>time</key>
		<string>10:09</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/senge.jpg?imageView2/2/w/203/h/203&amp;e=1457059609&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:15g09y9q447OVnRWUAJELHPdOvc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>周星驰</string>
		<key>words</key>
		<string>大家好，我是星爷</string>
		<key>time</key>
		<string>09:12</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/zhouxingchi.jpg?imageView2/2/w/203/h/203&amp;e=1457059627&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:pWzsry6meHMi0KZPYwfOJauQJ7w</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吴彦祖</string>
		<key>words</key>
		<string>明天来看电影呀</string>
		<key>time</key>
		<string>昨天</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/wuyanzu.jpg?imageView2/2/w/203/h/203&amp;e=1457059651&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:WSPb0NaWGFWmzKjnBOpe5uVjNUs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刘德华</string>
		<key>words</key>
		<string>我就是我，不一样的烟火</string>
		<key>time</key>
		<string>昨天</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/liudehua.jpg?imageView2/2/w/203/h/203&amp;e=1457059677&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:yiwhhrwgP-2g2B2yAwI6pOY2K7Q</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李冰冰</string>
		<key>words</key>
		<string>俺们都是东北人，俺们都是活雷锋</string>
		<key>time</key>
		<string>16/02/11</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/libingbing.jpg?imageView2/2/w/203/h/203&amp;e=1457059693&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:dyeRRapM5Bl04ed7MxecGkm2rHE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>范冰冰</string>
		<key>words</key>
		<string>晨晨，你有没有想我呀</string>
		<key>time</key>
		<string>16/02/11</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/fanbingbing.jpg?imageView2/2/w/203/h/203&amp;e=1457059709&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:ySonEaooK-0Ai4hHAborxfpINKc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>邓超</string>
		<key>words</key>
		<string>丽丽，今天能不能不跪洗衣板了[可怜]</string>
		<key>time</key>
		<string>16/02/10</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/dengchao.jpg?imageView2/2/w/203/h/203&amp;e=1457059724&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:xcFxcdclOT5QzjVsrg4t2ErO7Xs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我自己</string>
		<key>words</key>
		<string>累死宝宝了</string>
		<key>time</key>
		<string>16/02/07</string>
		<key>image</key>
		<string>http://7xq33v.com1.z0.glb.clouddn.com/me.jpg?imageView2/2/w/203/h/203&amp;e=1457059746&amp;token=c72qvWyWcHKCPs0i6ZfobWF2w8KMgpVqYpaIsYWs:BdbczjAzVCLwGRQ9Fcgk6ENGeA4</string>
	</dict>
</array>
</plist>
